.wrapper {
    max-width: 640px;
    margin-top: 200px;
    margin-left: 120px;

    @media (max-width: 1260px) {
        margin-left: 60px;
        margin-right: 60px;
    }
    @media (max-width: 600px) {
        max-width: none;
        width: 100%;
        margin: 0;
    }
}

.displayNone {
    display: none;
}

.display {
    display: block;
}
