.password {
    padding: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 8px;

    @media (max-width: 600px) {
        padding: 24px 16px;
    }

    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--gray-light);

        @media (max-width: 1120px) {
            font-size: 18px;
            line-height: 23px;
        }
    }

    label {
        display: block;
        margin-top: 16px;
    }

    .buttonWrapper {
        margin-top: 150px;
        display: flex;
        justify-content: center;

        @media (max-width: 600px) {
            margin-top: 24px;
        }

        button {
            max-width: 220px;

            @media (max-width: 600px) {
                max-width: none;
            }
        }
    }

    .passwordInputWrapper {
        border: 1px solid var(--gray-light);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 9.5px 8px;
        transition: var(--transition);

        &:hover {
            border: 1px solid var(--gray-additional);
        }

        input {
            width: 100%;
            margin-top: 0;
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 21px;
            color: var(--violet-dark);

            &::placeholder {
                color: var(--gray-additional);
            }
        }

        img {
            cursor: pointer;
        }
    }
}
