.selectWrapper {
    width: 170px;
    position: relative;
    margin-top: 16px;

    span {
        font-size: 12px !important;
        margin-left: -12px;
    }

    .select {
        top: 55px;

        div {
            img {
                margin-right: -12px !important;
            }
        }
    }
}
